<app-menu></app-menu>
<title>Electric Board Online Payment</title>
<link rel="icon" href="electricity.png" type="image/png">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="bg"><br/><br/><br/><br/>
<form method = "post" action = "Billcalculator.php">
<div class="jumbotron bg-cover" style="width:50%">

<div  id="head1">
<h3 style="text-align:center"><b>Bill Calculator</b></h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-25">
      <h3 for="units"><br/>Consumed Units :</h3>
    </div>
    <div class="col-75">
      <input type="text" [(ngModel)] ="in" [ngModelOptions]="{standalone: true}" class="form-control" id="stname"/>
    </div>
  </div>
  <div class="row">
     <button type="submit" class="btn btn-primary" (click)="calculate()">Calculate</button>
  </div><br/>
  <h2>Bill amount : Rs. {{out}}</h2>
 </div>
 </div>


  </form>
<br><br>
</div>
