<!DOCTYPE html>
<html lang="en">
<head>
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
  </div>

  <!-- Navbar on small screens -->

</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Electricity Bill Management System</h1>
  <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" [routerLink]='["/login"]'>Get Started</button>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Vision</h1>
      <h5 class="w3-padding-32">To make EBMS synonymous with availability of quality and reliable power at competitive rates.</h5>
      </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>History</h1>
      <p class="w3-text-grey">Ectricity generation in Tamil Nadu until about 1908 was confined to a few tiny plants in Tea Estates run on water power and to a small hydro electric station at Kattery near Coonoor. The Government Electricity department was created in 1927. The Pykara Hydro electric Power Station was constructed by Sir John G. Henry Howard , a British Engineer and the first Chief Electrical Engineer of the then Composite Madras State Electricity Department and commissioned in 1933 with an original installed capacity of 70 MW. The Tamil Nadu Electricity Board was constituted with effect from 1st July 1957 under the Electricity Supply Act 1948 and came to be known as “The Madras State Electricity Board” with Padma Shri V.P. Appadurai appointed as Chief Engineer (Electricity).

The first thermal power plant was commissioned during 1971 at Ennore, Chennai with its first unit of 60 MW capacity. Naphtha based gas station of 10 MW capacity was commissioned at Narimanam during 1991-92.TNEB simultaneously ventured into wind generation and 120 units with a total capacity of 19.355 MW was commissioned in the period 1986-93. In 1992, the power sector was thrown open for private participation and the first independent power project was established by GMR Vasavi at Basin Bridge, Chennai.</p>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Contact us</h1>
      <h5 class="w3-padding-32">NPKRR Maaligai,
144, Annasalai, Chennai 600002,
Tamil Nadu, India.

+91 44 2852 0131  cpro@tnebnet.org.</h5>
      </div>

    <div class="w3-third w3-center">
    </div>
  </div>
</div>

</body>
</html>
