

.navbar-nav{
margin-left:auto;
}
#head1{
background-color:red;
color:white;
}
#head2{
  background-color:red;
  color:white;
}
.jumbotron {
 background-color:transparent;
  margin: 10px auto;
  height:500px auto;
  justify-content: center;


}
.bg
{
background-color: black;
width:88%;
height:140%;
margin-left:200px;
}
