<app-menu></app-menu>
<title>Electric Board Online Payment</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div  class="bg"><br/>
<div class="jumbotron" style="width:50%">
<div  id="head1">
<h3 style="text-align:center"><b>Know ur Service Number</b></h3>
</div>
<div  id="head2">
<h3 style="text-align:center"><b>COUNTER RECEIPT</b></h3>
</div>
<img src="https://www.tnebnet.org/qwp/resource/img/cntr.png" alt="Italian Trulli"><br><br>

<div  id="head1">
<h3 style="text-align:center"><b>white meter card</b></h3>
</div>
<img src="https://www.tnebnet.org/qwp/resource/img/mcard.png" alt="Italian Trulli"><br><br>

</div>
</div>
